@import "src/style/abstracts/variables";
@import "src/style/component/buttons";
@import "src/style/component/link";

.button-primary {
  height: 30px;
  width: 60px;
  margin: 1rem  2rem 1rem;
  border-radius: 5px;
}